.hero {
  --title-color: #464756;
  --text-color: #0a0c20a6;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ecf1ff;
  border-radius: 44px;
  font-weight: 800;
  column-gap: 59px;
  position: relative;
}
.hero .text-and-buttons {
  padding-left: 89px;
}

.hero h1 {
  padding: 125px 0 12px;
  font-size: 80px;
  font-weight: 800;
  color: var(--title-color);
}

.hero p {
  font-size: 32px;
  line-height: 1.3;
  color: var(--text-color);
}

.hero .buttons {
  display: flex;
  gap: 12px;
  padding-top: 36px;
}

.hero .pets {
  padding-top: 46px;
  display: block;
}

.images-footprints {
  position: absolute;
}

.paw-1 {
  bottom: 6%;
  left: 6%;
}

.paw-2 {
  top: 3%;
  right: 3%;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .hero .text-and-buttons {
    padding-left: 0;
  }

  .hero .buttons {
    justify-content: center;
  }

  .hero h1 {
    padding: 38px 0 12px;
    font-size: 38px;
    text-align: center;
  }

  .hero p {
    font-size: 16px;
  }

  .paw-1 {
    top: 1%;
    left: 1%;
    max-width: 50px;
  }

  .paw-2 {
    top: 39%;
    right: 6%;
    max-width: 80px;
  }
}
