.info-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #e3caff;
  border-radius: 44px;
  padding: 64px 40px;
  width: 100%;
}

.info-box strong {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  color: #091a49;
}

.info-box span {
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color: #091a49cc;
  padding-top: 12px;
  display: block;
}

.info-box .social-icons {
  display: flex;
  gap: 12px;
  padding-top: 12px;
}

@media screen and (max-width: 768px) {
  .info-box {
    padding: 32px 16px;
    gap: 24px;
  }

  .info-box > div:last-child {
    display: none;
  }

  .info-box strong {
    font-size: 16px;
  }

  .info-box span {
    font-size: 16px;
    padding-top: 8px;
  }

  .info-box .social-icons {
    display: none;
  }
}
