.happy-story-card {
  display: flex;
  gap: 32px;
  width: 1065px;
  padding: 38px;
  border-radius: 28px;
}

.happy-story-card h3 {
  color: #6d82bd;
  font-size: 44px;
  font-weight: 800;
  padding-top: 34px;
}

.happy-story-card p {
  font-size: 20px;
}
