:root {
  --shelter-support-section-title: #091a49;
}

.shelter-support-section {
  position: relative;
  background-image: url('/src/assets/images/Shelters/supportSection.webp');
  border-radius: 44px;
  height: 630px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin-top: 32px;
}

.shelter-support-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    116.07deg,
    rgba(255, 255, 255, 0.5) 31.46%,
    rgba(255, 255, 255, 0) 50%
  );
}

.shelter-support-section .content-container {
  position: relative;
  z-index: 2;
  margin-left: 40px;
}

.shelter-support-section h3 {
  max-width: 635px;
  margin-top: 52px;
  margin-bottom: 42px;
  font-weight: 800;
  color: var(--shelter-support-section-title);
}

@media screen and (max-width: 768px) {
  .shelter-support-section {
    height: 602px;
    border-radius: 20px;
  }
  .shelter-support-section::before {
    background: linear-gradient(
      -25.25deg,
      rgba(0, 0, 0, 0) 56%,
      rgba(254, 254, 254, 0.5) 81.14%
    );
  }
  .shelter-support-section .content-container {
    margin-left: 17px;
  }

  .shelter-support-section h3 {
    font-size: 18px;
    margin-top: 43px;
    margin-bottom: 18px;
    max-width: 275px;
  }
}
