.accordion-item {
  background-color: #fff;
  border-radius: 24px;
  color: #091a49;
  margin-bottom: 12px;
}

.accordion-item.open {
  background-color: #ecf1ff;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px 0;
  cursor: pointer;
}

.accordion-header h3 {
  font-size: 24px;
  line-height: 1.2;
}

.accordion-content {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  padding: 0 40px 16px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 500ms ease,
    opacity 500ms ease;
}
.open .accordion-content {
  padding-top: 6px;
}
.accordion-content ul {
  list-style: disc;
  padding-left: 30px;
  margin-bottom: 20px;
}

.accordion-item.open .accordion-content {
  max-height: 1000px;
  opacity: 1;
}

.accordion-header .icon-mobile {
  transition: transform 500ms ease;
}
.accordion-item.open .icon-mobile {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .accordion-header {
    padding: 16px 16px;
    gap: 24px;
  }

  .accordion-header h3 {
    font-size: 16px;
  }

  .icon-mobile {
    height: 27px;
    width: 27px;
  }
  .accordion-content ul {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .accordion-content {
    font-size: 14px;
    padding: 0 16px 16px;
  }
}
