.trust-partnership-section {
  position: relative;
  padding: 100px 40px 21px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin-bottom: 54px;
}

.trust-partnership-section h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: #0a0c20;
  width: 100%;
  max-width: 506px;
}

.trust-partnership-section .buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 670px;
  z-index: 1;
}

.footprint-img {
  position: absolute;
}

.footprint-right-img {
  top: 5%;
  right: 25%;
}

.footprint-left-img {
  top: 11%;
  left: 2%;
}

.footprint-bottom-img {
  bottom: 1%;
  left: 22%;
}

@media (max-width: 768px) {
  .trust-partnership-section {
    flex-direction: column;
    padding: 40px 0px;
    gap: 32px;
  }

  .trust-partnership-section h2 {
    font-size: 24px;
    max-width: 100%;
    text-align: left;
  }

  .trust-partnership-section .buttons-container {
    max-width: 100%;
  }

  .footprint-right-img {
    width: 32px;
    right: 2%;
    top: 20%;
  }

  .footprint-left-img {
    width: 42px;
    top: -3%;
  }

  .footprint-bottom-img {
    width: 60px;
    left: 42%;
    bottom: -7%;
    rotate: 315deg;
  }
}
