.our-skills-in-numbers {
  --text-color: #0a0c20bf;
  --title-color: #0a0c20;
  --background-color: #ecf1ff;
}

.our-skills-in-numbers {
  background-color: var(--background-color);
  border-radius: 44px;
  padding: 100px 0;
}
.our-skills-in-numbers h2 {
  text-align: center;
  font-weight: 800;
  font-size: 74px;
  line-height: 1.2;
  color: var(--title-color);
}

.our-skills-in-numbers .text-grid {
  padding: 32px 177px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 32px;
  color: var(--text-color);
}

.our-skills-in-numbers p {
  font-size: 18px;
  font-weight: 500;
}

.our-skills-in-numbers .cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 27.5px 0;
}
