.footer {
  width: 100%;
  background: #ecf1ff;
  border-radius: 44px 44px 0 0;
}

.footer-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px var(--container-padding) 40px;
}
.platform-footer {
  display: none;
}
.nav-footer {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 217px;
  height: 36px;

  fill: #091a49;
}
.item-nav {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  color: #515151;
  margin-bottom: 12px;
}

.item-nav:hover {
  color: #ff8c00;
}
.buttons {
  display: flex;
  gap: 12px;
}
.containerBtn {
  display: flex;
  justify-content: end;
  margin: 32px 0;
}

.btn-footer {
  border-radius: 40px;
  border: 1px solid transparent;
  width: 48px;
  height: 48px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-footer:hover {
  background: #e8e8e8;
  transform: translateY(-1px);
}

.btn-footer:active {
  transform: translateY(0);
}
.footer-icon {
  fill: #091a49;
}

.btnUp {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 284px;

  background: #fff;
  fill: #ff8c00;
}

.btnUp:hover {
  background: #e8e8e8;
  transform: translateY(-1px);
}

.btnUp:active {
  transform: translateY(0);
}
.divider {
  border-top: 1px solid #b5c6f3;
  width: 100%;
  margin-bottom: 20px;
}

.police-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.cookie {
  display: none;
}
@media (max-width: 768px) {
  .nav-footer {
    display: block;
  }
  .footer-logo {
    width: 132px;
    height: 36px;
    fill: #091a49;
  }
  .platform-footer {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #0a0c20;
    margin-bottom: 24px;
  }

  .platform-footer:hover {
    color: #ff8c00;
  }

  .footer-list {
    display: none;
  }
  .police-list {
    display: none;
  }
  .cookie {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: #434558;
  }
  .btn-footer {
    width: 34px;
    height: 34px;
  }
  .footer-icon {
    width: 17px;
    height: 17px;
    fill: #091a49;
  }
}
