.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 94px - 376px);
}

.card {
  max-width: 560px;
  width: 100%;
  background-color: #fff;
  padding: 48px 56px;
  border-radius: 16px;
  box-shadow: 0px 5px 28px 0px rgba(9, 26, 73, 0.2);
}

.error {
  font-size: 12px;
  color: #ef4444;
  margin-top: 4px;
}

.eyeIcon {
  width: 21px;
  height: 21px;
  display: block;
}

.passwordWrapper {
  position: relative;
}

.input {
  background: #ecf1ff99;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 1;
  padding: 16px 18px;
  width: 100%;
}

.toggleButton {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
