.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 94px - 376px);
}

.card {
  max-width: 560px;
  background-color: #fff;
  padding: 48px 56px;
  border-radius: 16px;
  box-shadow: 0px 5px 28px 0px rgba(9, 26, 73, 0.2);
}
